<div class="pl-lg-5 sticky-top navbar navbar-dark">
    <!-- Navbar Branding-->
    <a class="navbar-brand" href="">Domantas Giedraitis</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" onclick="ToggleNavMenu()">
        <ul class="nav flex-row">
            <!-- About Me -->
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="About-me">
                    <span class="oi oi-person" aria-hidden="true"></span> About Me
                </NavLink>
            </li>
            <!-- Skills -->
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="Personal-skills">
                    <span class="oi oi-graph" aria-hidden="true"></span> Knowledge & Skills
                </NavLink>
            </li>
            <!-- Projects -->
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="Projects">
                    <span class="oi oi-project" aria-hidden="true"></span> Projects
                </NavLink>
            </li>
            <!-- Work Experience-->
            <li class="nav-item px-1">
                <NavLink class="nav-link" href="Work-experience">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Work Experience
                </NavLink>
            </li>

        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
