@page "/Projects"
@layout ErrorLayout

<div class="errorPageContent">
    <div class="centeredDiv50">
        <span class="consolasTextH1">[404]</span>
        <span class="consolasTextH3">FILE NOT FOUND
            <!--
                if(!this.page.Exists()) || <br />
                !this.project.Contains(this.page) || <br />
                you.TestingMyWebsite()) { <br />
                this.page.Display(ErrorType.404); <br />
                }
            -->
        </span>
    </div>
</div>

@code {

}
