@page "/Projects"
@layout ErrorLayout

<div class="errorPageContent">
    <div class="centeredDiv50">
        <span class="consolasTextH1">[404]</span>
        <span class="consolasTextH3">FILE NOT FOUND</span>
    </div>
</div>

@code {

}
