@page "/About-me"

<h3>Page to display personal information</h3>
<ul>
    <li>Personal Profile (Overview)</li>
    <li>Education</li>
    <li>Activities & Interests</li>
</ul>

<div id="Profile-and-contacts">

</div>
<div id="Education">

</div>
<div id="Activities-and-interests">

</div>

@code {
}
