@page "/Personal-skills"

<h3>Page to display technical skills, such as: C#, Java, Python.</h3>
<h5>The "How-good" I can do that should be displayed as well. Preferred with proofs (maybe links to the projects, employments, or endorsements from others?)</h5>

<h5><u>Example below:</u></h5>
<img src="https://i.pinimg.com/originals/32/41/48/3241482618f52bb982ff3709ec410e48.jpg" />


@code {

}
