@page "/Work-experience"

<h3>Page to display previous employments</h3>

Should include:
<ul>
    <li>Duration (From/To)</li>
    <li>Employer Nmae</li>
    <li>Location</li>
    <li>Main Responsibilities</li>
    <li>Optional - Enable employer to provide "verified" endorsement about my skillset and tehcnical / personal knowledge</li>
</ul>

@code {

}
