@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* ---------------------------------------------
                 Main Styling Start
   --------------------------------------------- */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.main {
    flex: 1;
}

.introPageClass {
    height: 90vh;
    width: 100%;
    top: 0;
    position: relative;
}
    .introPageClass .introPageImage {
        height: 100%;
        width: 100%;
    }

.errorPage {
    height:93.5vh;
    display:block;
    background-image: linear-gradient(360deg,rgb(0,0,0) 0%, rgb(50,50,50) 70%);
}
    .errorPage .errorPageContent {
        height:100%;
        line-height: 1;
    }
        .errorPage .errorPageContent .centeredDiv > span {
            line-height: 1;
            text-align: center;
        }

.centeredDiv50 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centeredDiv100 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.consolasTextH1 {
    color:whitesmoke;
    font-size:9rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
}
.consolasTextH3 {
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.visible {
    display: block;
}

.hidden {
    display: none;
}

.arrow-right {
    position: absolute;
    left: 100%;
    margin-left: -200px;
    top: 50%;
    margin-top: -50px;
}
.arrow-left {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.arrow-top {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.arrow-bottom {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 100%;
    margin-top: -200px;
}

.center {
    background-color: white;
    transition: width 1s;
    width: 0;
}

    .center .active {
        width: 100vw;
        height:100vh;
    }
.content > div {
    position: relative;
    margin: 0;
    padding: 0;
}

.left {
    background-color: green;
    transition: width 1s;
    width: 0;
}
    .left.active {
        width: 100vw;
    }

.right {
    background-color: red;
    transition: left 1s;
}
    .right .active {
        left: 200vw;
    }

.top {
    background-color: green;
    transition: width 1s;
    width: 0;
}
    .top .active {
        height: 100vh;
    }

.bottom {
    background-color: red;
    transition: left 1s;
}
    .bottom .active {
        bottom: 100vh;
    }

/* ---------------------------------------------
                 Main Styling End
   --------------------------------------------- */
/* ---------------------------------------------
               Navigation Panel Start
   --------------------------------------------- */
.sidebar {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    top: 0;
}
    .sidebar .dropdown-menu {
        background-image: linear-gradient(360deg, rgb(5, 39, 103) 0%, #3a0647 50%);
        min-width: 250px;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        letter-spacing:3px;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-left: 0.1rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-left: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-right: 3rem;
        }

        .sidebar .nav-item  a {
            color: #d7d7d7;
            border-radius: 4px;
            display: flex;
            align-items: center;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.dropdown:hover > .dropdown-menu {
    display:block;
}
/* ---------------------------------------------
               Navigation Panel End
   --------------------------------------------- */

.content {
    padding: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/* ---------------------------------------------
          Small Dimensions Styling Start
   --------------------------------------------- */
@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}
/* ---------------------------------------------
          Small Dimensions Styling End
   --------------------------------------------- */

/* ---------------------------------------------
          Normal Dimensions Styling Start
   --------------------------------------------- */
@media (min-width: 768px) {
    app {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 3.5rem;
        position:sticky;
    }

    .main > div {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
/* ---------------------------------------------
          Normal Dimensions Styling End
   --------------------------------------------- */
}
